@model EQ.Models.Service
<div style="width:100%;">
    <dl class="dl-horizontal" style="font-size:300%;">
        

        <dt>
            @Html.DisplayNameFor(model => model.CurrentTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentTicket)
        </dd>


    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ServiceId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>